html{
  
}

body{
background-color: #011f4f;

}

.land-container{
background-color:#d5d9e0;
width: 350px;
height: 450px;
margin: auto;
padding: 10px;
margin-top: 200px;
margin-bottom: 100px;
}

.set-container{
background-color:#d5d9e0;
width: 350px;
height: 600px;
margin: auto;
padding: 10px;
margin-top: 200px;
margin-bottom: 100px;
}

canvas{
text-align: center;
border: 1px solid #d3d3d3;
background-color: #f1f1f1;
width = 480;
height = 600;
}

h3{ 
font-family: Helvetica, Courier Header;
font-style: italic;
margin-top: 80px;
text-align: center;
}

button{
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;

}

#click{
text-align: center;
margin-top: 80px;
}

#set{
text-align: center;
}

img{
max-width:100%;
}

lifeCounter {

background-color: transparent;
	
border: none;
	
border-color: transparent;

text-align: center;

}



#list{
background-color: transparent;

height: 400px;
	
width: 400px;
	
border-radius: 50%;
	
position: fixed;
	
top: 50%;
	
left: 50%;
	
transform: translate(-50%, -50%);

}



.list-item {

list-style: none;
height: 50px;
  
position: absolute;
top: 40%;

left: 35%;

}



input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button{
-webkit-appearance: none;
    
margin: 0;

}



.menu button{

width: 100px;

}



input[type="number"]
{

margin-top: ;
   
width: 50px;
 
font-size:24px;

}



.stepButton{

height: 30px;
  width: 30px;

}



.menu{

padding:20px;

position: fixed;

top: 49%;

left: 49%;

transform: translate(-50%, -50%);

}





